<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <img class="about__avatar" src="assets/images/avatar.png">
            </div>
            <div class="col-md-5">
                <div class="about__hello-container">
                    <h1 class="about__hello">Hello World!</h1>
                    <h1 class="about__hello">My name is Elijah and I have a passion for software development.</h1>
                    <br>
                    <h2 class="about__h2">I am a recent college graduate with a B.S. degree in Computer Science, ready to take on my next professional opportunity.</h2>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    
</section>
<div class="arrow-down-container">
    <img class="arrow-down-container__arrow-down" src="https://img.icons8.com/ios/35/000000/expand-arrow--v1.png"/>
</div>