<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../assets/javascript/scroll.js"></script>

<section class="about" id="about">
    <div class="about__middle-wrapper">
        <div class="about__avatar-wrapper">
            <img class="about__avatar" src="assets/images/avatar.png" />
        </div>
        <div class="about__intro-wrapper">
            <h1 class="about__intro-text-big">
                Hello World!<br />My name is Elijah and I have a passion for web
                development.
            </h1>
            <h2 class="about__intro-text">
                I am a recent college graduate with a B.S. degree in Computer
                Science, pursuing a career in frontend web development.
            </h2>
        </div>
    </div>
    <div>
        <a href="#education"
            ><img class="about__arrow" src="assets/images/arrow-down.png"
        /></a>
    </div>
</section>
