<section class="about">
    <div class="about__middle-wrapper">
        <div class="about__avatar-wrapper">
            <img class="about__avatar" src="assets/images/avatar.png">
        </div>
        <div class="about__intro-wrapper">
            <h1 class="about__intro-text-big">Hello World!<br>My name is 
                Elijah and I have a passion for software development.</h1>
            <br>
            <h2 class="about__intro-text">I am a recent college graduate 
                with a B.S. degree in Computer Science, ready to take on my 
                next professional opportunity.</h2>
        </div>
    </div>
    <div>
        <img class="about__arrow"/>
    </div>
</section>