<section class="education">
    <div class="container">
        <div class="row">
            <div class="center-col">
                <h1>EDUCATION</h1>
                <hr>
                <br>
                <span class="education__go-dons">
                    <h1>UNIVERSITY OF SAN FRANCISCO</h1>
                    <h1>MAY 2020</h1>
                </span>
                <h1>COMPUTER SCIENCE, B.S.</h1>
                <span class="concept">
                    <p class="concept__text">Into to CS I</p>
                </span>
                <span class="concept">
                    <p class="concept__text">Intro to CS II</p>
                </span>
                <span class="concept">
                    <p class="concept__text">Software Development</p>
                </span>
                <span class="concept">
                    <p class="concept__text">Data Structures & Algorithms</p>
                </span>
                <span class="concept">
                    <p class="concept__text">Parallel Computing</p>
                </span>
                <span class="concept">
                    <p class="concept__text">UX/UI Design</p>
                </span>
                <span class="concept">
                    <p class="concept__text">Operating Systems</p>
                </span>
                <span class="concept">
                    <p class="concept__text">Senior Team Project</p>
                </span>
                <span class="concept">
                    <p class="concept__text">Programming Languages & Paradigms</p>
                </span>
                <span class="concept">
                    <p class="concept__text">Computer Architecture</p>
                </span>
            </div>
        </div>
    </div>
</section>