<section class="education" id="education">
    <div class="container">
        <div class="row">
            <div class="center-col">
                <h1>EDUCATION</h1>
                <hr>
                <br>
                <span class="education__go-dons">
                    <h1><a href="https://www.usfca.edu" target="_blank">UNIVERSITY OF SAN FRANCISCO</a></h1>
                    <h1 class="date">MAY 2020</h1>
                </span>
                <h1>COMPUTER SCIENCE, B.S.</h1>
                <span class="skill concept">
                    <p class="skill__text">Intro to CS I</p>
                </span>
                <span class="skill concept">
                    <p class="skill__text">Intro to CS II</p>
                </span>
                <span class="skill concept">
                    <p class="skill__text">Software Development</p>
                </span>
                <span class="skill concept">
                    <p class="skill__text">Data Structures & Algorithms</p>
                </span>
                <span class="skill concept">
                    <p class="skill__text">Parallel Computing</p>
                </span>
                <span class="skill concept">
                    <p class="skill__text">UX/UI Design</p>
                </span>
                <span class="skill concept">
                    <p class="skill__text">Operating Systems</p>
                </span>
                <span class="skill concept">
                    <p class="skill__text">Prog Lang & Paradigms</p>
                </span>
                <span class="skill concept">
                    <p class="skill__text">Computer Architecture</p>
                </span>
                <span class="skill concept">
                    <p class="skill__text">Senior Team Project</p>
                </span>
            </div> <!-- center-col -->
        </div>
    </div>
</section>