<script src="../assets/javascript/dropdown.js"></script>

<section class="header">
    <h1 class="header__elijah">ELIJAH DELOS REYES</h1>
    <div class="dropdown">
        <img src="assets/images/menu.png" onclick="myFunction()" class="dropbtn"></img>
        <div id="myDropdown" class="dropdown-content">
            <h2><a href="#about">About</a></h2>
            <h2><a href="#education">Education</a></h2>
            <h2><a href="#experience">Experience</a></h2>
            <h2><a href="#skills">Skills</a></h2>
            <h2><a href="#resume">Resume</a></h2>
            <h2><a href="#projects">Projects</a></h2>
            <h2><a href="#interests">Interests</a></h2>
            <h2><a href="#contact">Contact</a></h2>
          </div>
    </div>
</section>