<script src="../assets/javascript/nav.js"></script>

<section class="header">
    <h1 class="header__elijah">ELIJAH DELOS REYES</h1>
    <div class="header__menu-wrapper">
        <img src="assets/images/menu.png" onclick="openNav()" class="header__menu"></img>
    </div>
</section>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <h2><a href="#about">About</a></h2>
    <h2><a href="#education">Education</a>
    <h2><a href="#experience">Experience</a>
    <h2><a href="#skills">Skills</a>
    <h2><a href="#resume">Resume</a></h2>
    <h2><a href="#projects">Projects</a></h2>
    <h2><a href="#interests">Interests</a></h2>
    <h2><a href="#contact">Contact</a></h2>
</div>