<script src="../assets/javascript/nav.js"></script>

<section class="header">
    <h1 class="header__elijah"><a href="https://www.linkedin.com/in/elijah-delos-reyes" target="_blank">ELIJAH DELOS REYES</a></h1>
    <div class="header__menu-wrapper">
        <div class="menu-btn" id="menu" onclick="toggleNav()">
            <div class="menu-btn__burger"></div>
        </div>
    </div>
</section>

<div id="mySidenav" class="sidenav">
    <h1><a href="#about" onclick="toggleNav()">ABOUT</a></h1>
    <h1><a href="#education" onclick="toggleNav()">EDUCATION</a></h1>
    <h1><a href="#experience" onclick="toggleNav()">EXPERIENCE</a></h1>
    <h1><a href="#skills" onclick="toggleNav()">SKILLS</a></h1>
    <h1><a href="#resume" onclick="toggleNav()">RÉSUMÉ</a></h1>
    <h1><a href="#projects" onclick="toggleNav()">PROJECTS</a></h1>
    <h1><a href="#interests" onclick="toggleNav()">INTERESTS</a></h1>
    <h1><a href="#contact" onclick="toggleNav()">CONTACT</a></h1>
</div>