<section class="interests" id="interests">
    <div class="container">
        <div class="row">
            <div class="center-col">
                <h1>INTERESTS</h1>
                <hr>
                <span class="skill interest">
                    <p class="skill__text">Animal Crossing</p>
                </span>
                <span class="skill interest">
                    <p class="skill__text">Ultimate Frisbee</p>
                </span>
                <span class="skill interest">
                    <p class="skill__text">Music</p>
                </span>
                <span class="skill interest">
                    <p class="skill__text">Guitar</p>
                </span>
                <span class="skill interest">
                    <p class="skill__text">Smash Bros Ultimate</p>
                </span>
                <span class="skill interest">
                    <p class="skill__text">Fitness</p>
                </span>
                <span class="skill interest">
                    <p class="skill__text">Mindfulness</p>
                </span>
                <span class="skill interest">
                    <p class="skill__text">Game of Thrones</p>
                </span>
                <span class="skill interest">
                    <p class="skill__text">Golden State Warriors</p>
                </span>
                <span class="skill interest">
                    <p class="skill__text">Black Lives Matter</p>
                </span>                
            </div> <!-- center-col -->
        </div>
    </div>
</section>