<section class="interests">
    <div class="container">
        <div class="row">
            <div class="center-col">
                <h1>INTERESTS</h1>
                <hr>
                <span class="interest">
                    <p class="interest__text">Animal Crossing</p>
                </span>
                <span class="interest">
                    <p class="interest__text">Ultimate Frisbee</p>
                </span>
                <span class="interest">
                    <p class="interest__text">Music</p>
                </span>
                <span class="interest">
                    <p class="interest__text">Guitar</p>
                </span>
                <span class="interest">
                    <p class="interest__text">Smash Bros Ultimate</p>
                </span>
                <span class="interest">
                    <p class="interest__text">Fitness</p>
                </span>
                <span class="interest">
                    <p class="interest__text">Mindfulness</p>
                </span>
                <span class="interest">
                    <p class="interest__text">Golden State Warriors</p>
                </span>
                <span class="interest">
                    <p class="interest__text">Game of Thrones</p>
                </span>
            </div> <!-- center-col -->
        </div>
    </div>
</section>