<section class="projects">
    <div class="container">
        <div class="row">
            <div class="center-col">
                <h1>PROJECTS</h1>
                <hr class="hr-l">
                <div class="projects__project">
                    <span class="projects__title">
                        <h1>ARM V7 SINGLE CYCLE PROCESSOR</h1>
                        <h1>NOVEMBER - DECEMBER 2019</h1>
                    </span>
                    <h1>COMPUTER ARCHITECTURE</h1>
                    <span>
                        <h1 id="grey">Single-Cycle Processor Implementation in Digital that executes ARM 
                            V7 machine code. Processor is composed of the following main sub-circuits: 
                            Program Counter, Instruction Memory, Register File, ALU, 
                            Sign Extension Unit, Data Memory, Control Unit, Data Path and Control 
                            Path, and can simulate mathematical functions.</h1>
                    </span>
                    <span class="language">
                        <p class="language__text">C</p>
                    </span>
                    <span class="language">
                        <p class="language__text">ARM V7</p>
                    </span>
                    <span class="tool">
                        <p class="tool__text">Digital</p>
                    </span>
                    <span class="concept">
                        <p class="concept__text">Computer Architecture</p>
                    </span>
                </div>
                <div class="projects__project">
                    <span class="projects__title">
                        <h1>ARM V7 EMULATOR IN C</h1>
                        <h1>OCTOBER 2019</h1>
                    </span>
                    <h1>COMPUTER ARCHITECTURE</h1>
                    <span>
                        <h1 id="grey">C program on a RaspBerry Pi that executes ARM V7 machine code by 
                            emulating the register state of an ARM CPU and emulating the 
                            execution of ARM instructions, and can simulate mathematical 
                            functions. Dynamic analysis and cache simulation also supported.</h1>
                    </span>
                    <span class="language">
                        <p class="language__text">C</p>
                    </span>
                    <span class="language">
                        <p class="language__text">ARM V7</p>
                    </span>
                    <span class="tool">
                        <p class="tool__text">RaspBerry Pi</p>
                    </span>
                    <span class="concept">
                        <p class="concept__text">Computer Architecture</p>
                    </span>
                </div>
                <div class="projects__project">
                    <span class="projects__title">
                        <h1>CRASH COMMAND LINE SHELL</h1>
                        <h1>APRIL - MAY 2019</h1>
                    </span>
                    <h1>OPERATING SYSTEMS</h1>
                    <span>
                        <h1 id="grey">Dummy command line shell that runs on a Virtual Machine and acts 
                            just like bash. It supports comments, background jobs, history, 
                            environment variables, piping, redirecting, etc.</h1>
                    </span>
                    <span class="language">
                        <p class="language__text">C</p>
                    </span>
                    <span class="framework">
                        <p class="framework__text">Virtual Machine</p>
                    </span>
                    <span class="tool">
                        <p class="tool__text">Bash</p>
                    </span>
                    <span class="tool">
                        <p class="tool__text">Linux</p>
                    </span>
                    <span class="concept">
                        <p class="concept__text">Operating Systems</p>
                    </span>
                </div>
                <div class="projects__project">
                    <span class="projects__title">
                        <h1><a href="https://github.com/eedelosreyes2/Pizza-Ordering-Application" target="_blank">PIZZA ORDERING APPLICATION</a></h1>
                        <h1>JUNE - OCTOBER 2017</h1>
                    </span>
                    <h1>SOFTWARE DEVELOPMENT (PERSONAL)</h1>
                    <span>
                        <h1 id="grey">Java project where you can order pizza! In this app you can browse 
                            the database consisting of 38 items including pizzas, sides, drinks,
                            desserts, etc. Add them to the cart then you’re ready to go! 
                            Completely made with Java Swing, interface and menu inspired by 
                            Domino’s Pizza.</h1>
                    </span>
                    <span class="language">
                        <p class="language__text">Java</p>
                    </span>
                    <span class="framework">
                        <p class="framework__text">Java Swing</p>
                    </span>
                    <span class="concept">
                        <p class="concept__text">Full Stack Development</p>
                    </span> 
                    <span class="concept">
                        <p class="concept__text">Software Development</p>
                    </span>
                    <span class="concept">
                        <p class="concept__text">UX/UI Design</p>
                    </span>
                </div>
                <div class="projects__project">
                    <span class="projects__title">
                        <h1><a href="https://github.com/eedelosreyes2/Python-Game" target="_blank">DON'T GET HIT BY THE HAY GAME</a></h1>
                        <h1>DECEMBER - JANUARY 2017</h1>
                    </span>
                    <h1>GAME DEVELOPMENT (PERSONAL)</h1>
                    <span>
                        <h1 id="grey">My first ever developed game, coded in Python. A platform type game
                            where you try to avoid falling bales of hay. Oh, and it gets harder
                            the further you go! How far can you get?</h1>
                    </span>
                    <span class="language">
                        <p class="language__text">Python</p>
                    </span>    
                    <span class="concept">
                        <p class="concept__text">Game Mechanics</p>
                    </span>
                    <span class="concept">
                        <p class="concept__text">Full Stack Development</p>
                    </span>
                    <span class="concept">
                        <p class="concept__text">UX/UI Design</p>
                    </span>
                </div>
            </div> <!-- center-col -->
        </div>
    </div>
</section>