<section class="resume">
    <div class="container">
        <div class="row">
            <div class="center-col">
                <div class="resume__experience">
                    <h1>WORK EXPERIENCE</h1>
                    <hr>
                    <br>
                    <div class="resume__job">
                        <span class="resume__title">
                            <h1><a href="https://fanmire.com" target="_blank">FANMIRE</a></h1>
                            <h1 class="date">JAN - MAY 2020</h1>
                        </span>
                        <h1>SOFTWARE ENGINEER</h1>
                        <span>
                            <h1 id="grey">Developed a dynamic website featuring a social media 
                                aggregator. This website pulls a user’s posts from Twitter,
                                Facebook, and Instagram, stores data into MongoDB, and 
                                displays all onto a single, elegant newsfeed. Developed the software 
                                codes for the server database collection and client interface using 
                                NodeJS, VueJS, Express, Axios, and HTML/CSS.</h1>
                        </span>
                        <span class="language">
                            <p class="language__text">Javascript</p>
                        </span>
                        <span class="language">
                            <p class="language__text">HTML/CSS</p>
                        </span>
                        <span class="framework">
                            <p class="framework__text">NodeJS</p>
                        </span>
                        <span class="framework">
                            <p class="framework__text">VueJS</p>
                        </span>
                        <span class="framework">
                            <p class="framework__text">Express</p>
                        </span>
                        <span class="framework">
                            <p class="framework__text">Axios</p>
                        </span>
                        <span class="tool">
                            <p class="tool__text">MongoDB</p>
                        </span>
                        <span class="tool">
                            <p class="tool__text">Postman</p>
                        </span>
                        <span class="concept">
                            <p class="concept__text">Full Stack Development</p>
                        </span>
                        <span class="concept">
                            <p class="concept__text">UX/UI Design</p>
                        </span>
                        <span class="soft">
                            <p class="soft__text">Management</p>
                        </span>
                    </div>
                    <div class="resume__job">
                        <span class="resume__title">
                            <h1><a href="http://www.thinq.tv" target="_blank">THINQ.TV</a></h1>
                            <h1 class="date">MAY - AUG 2019</h1>
                        </span>
                        <h1>UX/UI ENGINEERING INTERN</h1>
                        <span>
                            <h1 id="grey">Collaborated with front-end team to design an elegant and 
                                functional interface, worked directly on front-end code, 
                                and operated with development team to improve back-end 
                                website functionality.</h1>
                        </span>
                        <span class="language">
                            <p class="language__text">Javascript</p>
                        </span>
                        <span class="language">
                            <p class="language__text">Ruby on Rails</p>
                        </span>
                        <span class="tool">
                            <p class="tool__text">Heroku</p>
                        </span>
                        <span class="concept">
                            <p class="concept__text">MVC Pattern</p>
                        </span>
                        <span class="concept">
                            <p class="concept__text">Front-end Development</p>
                        </span>
                        <span class="concept">
                            <p class="concept__text">UX/UI Design</p>
                        </span>
                        <span class="soft">
                            <p class="soft__text">Collaboration</p>
                        </span>
                        <span class="soft">
                            <p class="soft__text">Teamwork</p>
                        </span>
                        <span class="soft">
                            <p class="soft__text">Management</p>
                        </span>
                        <span class="soft">
                            <p class="soft__text">Meeting Deadlines</p>
                        </span>
                    </div>                    
                </div>
                <div class="resume__skills">
                    <h1>TECHNICAL SKILLS</h1>
                    <hr>
                    <span class="language">
                        <p class="language__text">C</p>
                    </span>
                    <span class="language">
                        <p class="language__text">Java</p>
                    </span>
                    <span class="language">
                        <p class="language__text">Javascript</p>
                    </span>
                    <span class="language">
                        <p class="language__text">HTML/CSS</p>
                    </span>
                    <span class="language">
                        <p class="language__text">Python</p>
                    </span>
                    <span class="language">
                        <p class="language__text">Ruby on Rails</p>
                    </span>
                    <span class="framework">
                        <p class="framework__text">Jekyll</p>
                    </span>
                    <span class="framework">
                        <p class="framework__text">NodeJS</p>
                    </span>
                    <span class="framework">
                        <p class="framework__text">VueJS</p>
                    </span>
                    <span class="framework">
                        <p class="framework__text">Express</p>
                    </span>
                    <span class="framework">
                        <p class="framework__text">Axios</p>
                    </span>
                    <span class="tool">
                        <p class="tool__text">Git + Github</p>
                    </span>
                    <span class="tool">
                        <p class="tool__text">Bash</p>
                    </span>
                    <span class="tool">
                        <p class="tool__text">Linux</p>
                    </span>
                    <span class="tool">
                        <p class="tool__text">Heroku</p>
                    </span>
                    <span class="tool">
                        <p class="tool__text">MongoDB</p>
                    </span>
                    <span class="tool">
                        <p class="tool__text">Postman</p>
                    </span>
                    <span class="design">
                        <p class="design__text">Adobe XD</p>
                    </span>
                </div>
                <div class="resume__pdf">
                    <h1><a href="{{site.resume}}" target="_blank">VIEW MY RÉSUMÉ</a></h1>
                </div>
            </div> <!-- center-col -->
        </div>
    </div>
</section>