<section class="resume" id="experience">
    <div class="container">
        <div class="row">
            <div class="center-col">
                <div class="resume__experience">
                    <h1>WORK EXPERIENCE</h1>
                    <hr>
                    <br>
                    <div class="resume__job">
                        <span class="resume__title">
                            <h1><a href="https://boonoob.com" target="_blank">BOONOOB</a></h1>
                            <h1 class="date">JUN - PRESENT</h1>
                        </span>
                        <h1>SOFTWARE ENGINEER</h1>
                        <span>
                            <h1 id="grey">Created REST API endpoints on the server to handle multiple HTTP requests, done in Node.js. 
                                Integrated payment system (Stripe), increasing the amount of users due to this key functionality.</h1>
                        </span>
                        <span class="skill language">
                            <p class="skill__text">Javascript</p>
                        </span>
                        <span class="skill framework">
                            <p class="skill__text">NodeJS</p>
                        </span>
                        <span class="skill framework">
                            <p class="skill__text">Express</p>
                        </span>
                        <span class="skill framework">
                            <p class="skill__text">Stripe</p>
                        </span>
                        <span class="skill tool">
                            <p class="skill__text">MongoDB</p>
                        </span>
                        <span class="skill tool">
                            <p class="skill__text">Postman</p>
                        </span>
                        <span class="skill concept">
                            <p class="skill__text">Back-end Development</p>
                        </span>
                        <span class="skill soft">
                            <p class="skill__text">Management</p>
                        </span>
                    </div>
                    <div class="resume__job">
                        <span class="resume__title">
                            <h1><a href="https://fanmire.com" target="_blank">FANMIRE</a></h1>
                            <h1 class="date">JAN - MAY 2020</h1>
                        </span>
                        <h1>SOFTWARE ENGINEER</h1>
                        <span>
                            <h1 id="grey">Developed a dynamic website featuring a social media 
                                aggregator. This website pulls a user’s posts from Twitter,
                                Facebook, and Instagram, stores data into MongoDB, and 
                                displays all onto a single, elegant newsfeed. Developed the software 
                                codes for the server database collection and client interface using 
                                NodeJS, VueJS, Express, Axios, and HTML/CSS.</h1>
                        </span>
                        <span class="skill language">
                            <p class="skill__text">Javascript</p>
                        </span>
                        <span class="skill language">
                            <p class="skill__text">HTML/CSS</p>
                        </span>
                        <span class="skill framework">
                            <p class="skill__text">NodeJS</p>
                        </span>
                        <span class="skill framework">
                            <p class="skill__text">VueJS</p>
                        </span>
                        <span class="skill framework">
                            <p class="skill__text">Express</p>
                        </span>
                        <span class="skill framework">
                            <p class="skill__text">Axios</p>
                        </span>
                        <span class="skill tool">
                            <p class="skill__text">MongoDB</p>
                        </span>
                        <span class="skill tool">
                            <p class="skill__text">Postman</p>
                        </span>
                        <span class="skill concept">
                            <p class="skill__text">Full Stack Development</p>
                        </span>
                        <span class="skill concept">
                            <p class="skill__text">UX/UI Design</p>
                        </span>
                        <span class="skill soft">
                            <p class="skill__text">Management</p>
                        </span>
                    </div>
                    <div class="resume__job">
                        <span class="resume__title">
                            <h1><a href="http://www.thinq.tv" target="_blank">THINQ.TV</a></h1>
                            <h1 class="date">MAY - AUG 2019</h1>
                        </span>
                        <h1>UX/UI ENGINEERING INTERN</h1>
                        <span>
                            <h1 id="grey">Collaborated with front-end team to design an elegant and 
                                functional interface, worked directly on front-end code, 
                                and operated with development team to improve back-end 
                                website functionality.</h1>
                        </span>
                        <span class="skill language">
                            <p class="skill__text">Javascript</p>
                        </span>
                        <span class="skill language">
                            <p class="skill__text">Ruby on Rails</p>
                        </span>
                        <span class="skill tool">
                            <p class="skill__text">Heroku</p>
                        </span>
                        <span class="skill concept">
                            <p class="skill__text">MVC Pattern</p>
                        </span>
                        <span class="skill concept">
                            <p class="skill__text">Front-end Development</p>
                        </span>
                        <span class="skill concept">
                            <p class="skill__text">UX/UI Design</p>
                        </span>
                        <span class="skill soft">
                            <p class="skill__text">Collaboration</p>
                        </span>
                        <span class="skill soft">
                            <p class="skill__text">Teamwork</p>
                        </span>
                        <span class="skill soft">
                            <p class="skill__text">Management</p>
                        </span>
                        <span class="skill soft">
                            <p class="skill__text">Meeting Deadlines</p>
                        </span>
                    </div>                    
                </div>
                <div class="resume__skills" id="skills">
                    <h1>TECHNICAL SKILLS</h1>
                    <hr>
                    <span class="skill language">
                        <p class="skill__text">C</p>
                    </span>
                    <span class="skill language">
                        <p class="skill__text">Java</p>
                    </span>
                    <span class="skill language">
                        <p class="skill__text">Javascript</p>
                    </span>
                    <span class="skill language">
                        <p class="skill__text">HTML/CSS</p>
                    </span>
                    <span class="skill language">
                        <p class="skill__text">Python</p>
                    </span>
                    <span class="skill language">
                        <p class="skill__text">Ruby on Rails</p>
                    </span>
                    <span class="skill framework">
                        <p class="skill__text">Jekyll</p>
                    </span>
                    <span class="skill framework">
                        <p class="skill__text">NodeJS</p>
                    </span>
                    <span class="skill framework">
                        <p class="skill__text">VueJS</p>
                    </span>
                    <span class="skill framework">
                        <p class="skill__text">Express</p>
                    </span>
                    <span class="skill framework">
                        <p class="skill__text">Axios</p>
                    </span>
                    <span class="skill tool">
                        <p class="skill__text">Git + Github</p>
                    </span>
                    <span class="skill tool">
                        <p class="skill__text">Bash</p>
                    </span>
                    <span class="skill tool">
                        <p class="skill__text">Linux</p>
                    </span>
                    <span class="skill tool">
                        <p class="skill__text">Heroku</p>
                    </span>
                    <span class="skill tool">
                        <p class="skill__text">MongoDB</p>
                    </span>
                    <span class="skill tool">
                        <p class="skill__text">Postman</p>
                    </span>
                    <span class="skill design">
                        <p class="skill__text">Adobe XD</p>
                    </span>
                </div>
                <div class="resume__pdf" id="resume">
                    <h1><a href="{{site.resume}}" target="_blank">VIEW MY RÉSUMÉ</a></h1>
                </div>
            </div> <!-- center-col -->
        </div>
    </div>
</section>