.about {
    height: 100%;
    padding-top: 15vh;
    
    &__avatar {
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 335px;
        width: 335px;
    }

    &__hello-container {
        padding-top: 4svh;
    }

    &__hello {
        color: rgba(0, 0, 0, 0.75);
        font-size: $custom-aboutHeader-size;
    }
    
    &__h2 {
        line-height: 2;
    }
}
.arrow-down-container {
    height: 22vh;

    &__arrow-down {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 12vh;
    }
}
