.about {
    height: 90vh;
    height: 672px;
    // padding-top: 15vh;
    width: 100%;
    width: 1280px;

    &__middle-wrapper {
        display: flex;
        height: 600px;
    }
    &__avatar-wrapper {
        padding-left: 125px;
        padding-right: 50px;
        padding-top: 100px;
    }
    &__avatar {
        border-radius: 50%;
        height: 336px;
        width: 336px;
    }
    &__intro-wrapper {
        height: 100%;
        margin: auto;
        padding-right: 100px;
        padding-top: 155px;
        width: 750px;
    }
    &__intro-text-big {
        color: rgba(0, 0, 0, 0.75);
        font-size: 32px;
    }
    &__intro-text {
        color: rgba(0, 0, 0, 0.75);
        font-size: 20px;
        line-height: 25px;
    }
    &__arrow {
        display: block;
        height: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 20px;
    }

    /* Responsive resize for phones and tablets */
    @media only screen and (max-width: $phablet) {
        width: unset;

        &__middle-wrapper {
            display: block;
            height: 530px;
        }
        &__avatar-wrapper {
            padding-left: unset;
            padding-right: unset;
            padding-bottom: 5px;
            padding-top: 5px;
        }
        &__avatar {
            border-radius: 50%;
            display: block;
            height: 250px;
            margin: auto;
            width: 250px;
        }
        &__intro-wrapper {
            height: unset;
            padding-right: unset;
            padding-top: 10px;
            text-align: center;
            width: 90vw
        }
        &__intro-text-big {
            color: rgba(0, 0, 0, 0.75);
            font-size: 26px;
        }
        &__intro-text {
            color: rgba(0, 0, 0, 0.75);
            font-size: 16px;
            line-height: 25px;
        }
    }
}