.education {
    height: 100%;
    padding-top: 15vh;

    &__go-dons {
        display: flex;
        justify-content: space-between;
    }

    /* Responsive resize for phones and tablets */
    @media only screen and (max-width: $phablet) {
        padding-top: 12vh;
    }
}