.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 65px;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    z-index: 99;

    &__elijah {
        margin-bottom: auto;
        margin-top: auto;
        padding-left: 50px;
    }
    &__menu {
        margin-bottom: auto;
        margin-top: auto;
        padding-right: 50px;
    }

    /* Responsive resize for tablets */
    @media only screen and (max-width: $tablet) {
        &__elijah {
            padding-left: 20px;
        }
        &__menu {
            padding-right: 20px;
        }
    }
  }