.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 65px;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    z-index: 99;

    &__elijah {
        margin-bottom: auto;
        margin-top: auto;
        padding-left: 50px;
    }
    &__menu-wrapper {
        display: flex;
        margin-bottom: auto;
        margin-top: auto;
        padding-right: 50px;
    }
    &__menu {
        height: 24px;
        margin-bottom: auto;
        margin-top: auto;
        width: 24px;
    }

    /* Responsive resize for phones and tablets */
    @media only screen and (max-width: $phablet) {
        &__elijah {
            padding-left: 20px;
        }
        &__menu-wrapper {
            padding-right: 20px;
        }
    }
}

.sidenav {
    background-color: white;
    height: 100%;
    overflow-x: hidden;
    padding-top: 13px;
    position: fixed;
    right: 0;
    transition: 0.5s;
    top: 0;
    width: 0;
    z-index: 1;
}
.sidenav a {
    display: block;
    padding-right: 30px;
    padding-top: 10px;
    text-align: right;
    transition: 0.5s;
}