.projects {
    padding-top: 120px;

    &__title {
        display: flex;
        justify-content: space-between;
    }
    &__project {
        padding-bottom: 70px;
    }

    /* Responsive resize for phones and tablets */
    @media only screen and (max-width: $phablet) {
        padding-top: 90px;
    }
}