.resume {
    padding-top: 120px;

    &__title {
        display: flex;
        justify-content: space-between;
    }
    &__job {
        padding-bottom: 70px;
    }
    &__skills {
        padding-top: 120px;
    }
    &__pdf {
        padding-bottom: 20px;
        padding-top: 150px;
        text-align: center;
    }

    /* Responsive resize for phones and tablets */
    @media only screen and (max-width: $phablet) {
        padding-top: 90px;

        &__pdf {
            padding-top: 120px;
        }
    }
}