.resume {
    height: 100%;
    padding-bottom: 20vh;
    padding-top: 15vh;

    &__experience {
        padding-bottom: 15vh;
    }

    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__job {
        padding-bottom: 12vh;
    }

    &__skills {
        padding-bottom: 20vh;
    }

    &__pdf {
        text-align: center;
    }
}