$font-family-base: Monaco, Georgia, "Times New Roman", Times, serif;

$custom-aboutHeader-size: 2.5vw;
$custom-h1-size: 1.7vw;
$custom-h2-size: 1.5vw;

@import "../node_modules/bootstrap/scss/variables";
@import "partials/header";
@import "partials/about";
@import "partials/education";
@import "partials/resume";
@import "partials/projects";
@import "partials/interests";
@import "partials/footer";