$font-family-base: Menlo-Regular, Monaco, Georgia, "Times New Roman", Times, serif !default;

$tablet: 768px;
$phone: 600px;

$custom-h1-size: 20px;
$custom-h2-size: 15px;

@import "../node_modules/bootstrap/scss/variables";
@import "partials/header";
@import "partials/about";
@import "partials/education";
@import "partials/resume";
@import "partials/projects";
@import "partials/interests";
@import "partials/footer";