---
---

@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/bootstrap";

#grey {
  color: rgba(0, 0, 0, 0.75);
  line-height: 35px;
}
h1 {
  font-size: $custom-h1-size;
  /* Responsive resize for phones */
  @media only screen and (max-width: $phone) {
    font-size: $custom-h1-size-sm;
  }
}
h2 {
  font-size: $custom-h2-size;
  /* Responsive resize for phones */
  @media only screen and (max-width: $phone) {
    font-size: $custom-h2-size-sm;
  }
}
a:link, a:visited, a:hover, a:active {
  color: black;
}
hr {
  background-color: rgba(0, 0, 0, 0.75);
  margin-top: 0px;
}
.center-col {
  margin-left: auto;
  margin-right: auto;
  width: 65vw;

  /* Responsive resize for phones and tablets */
  @media only screen and (max-width: $phablet) {
    width: 90vw;
  }
}
.date {
  text-align: right;
}
.skill {
  background-color: white;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.75);
  display: inline-block;
  font-size: $custom-h2-size;
  height: 50px;
  margin-right: 1px;
  margin-top: 12px;
  padding-left: 33px;
  padding-right: 33px;
  vertical-align: middle;  

  &__text {    
    display: inline-block;
    margin-top: 13px;
  }
}
.concept {
  border: 1.5px solid #60B8F8;
}
.language {
  border: 1.5px solid #9851EB;;
}
.framework {
  border: 1.5px solid #000AFF;
}
.tool {
  border: 1.5px solid #41D3CD;
}
.soft {
  border: 1.5px solid #75EB51;
}
.design {
  border: 1.5px solid #FF05F5;
}
.interest {
  border: 1.5px solid #FFCE00;
}